<% provide(:title, "Editing \"#{@team.name}") %>
<h1> Editing team </h1>

<%= render 'form' %>

<ul class="list-inline">
  <li><%= link_to "Back to Show", user_team_path(current_user, @team) %></li>
  <li><%= link_to "Back to List",  user_teams_path(current_user) %></li>
</ul>
