<h1>Listing teams</h1>
 
<ul>
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team_path(team) %>
      <%= link_to 'Edit Name', edit_team_path(team) %>
      <%= link_to 'Add Members', change_people_team_path(team) %>
      <%= link_to 'Destroy', team_path(team), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
