<% provide(:title, "Editing #{@person.name}") %>
<h1> <%= @person.name %> </h1>
<h2> Editing personal information </h2>

<%= render 'form' %>

<ul class="list-inline">
  <li><%= link_to "Back to Show", user_person_path(current_user, @person) %></li>
  <li><%= link_to "Back to List", user_people_path %></li>
</ul>
