<h3>Your Teams</h3>
<h2>Click to display members</h2>
<div class="list-group" style="width:30%">
  <% @teams.each do |team| %>
    <a class="list-group-item" data-toggle="collapse" data-target="#team<%=team.id%>">
      <%= team.name %>
    </a>
    <ul class="nav nav-list collapse" id="team<%=team.id%>">
      <% team.people.each do |member| %>
        <li><%= link_to member.name, user_person_path(current_user, member) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
