<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Human Resources", home_path, class: "navbar-brand" %>
      <div class="nav navbar-right" >
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Manage People", people_path %></li>
          <li><%= link_to "Manage Teams", teams_path %></li>
        </ul>
      </div>
  </div>
</div>
</header>
